<a href="https://colab.research.google.com/github/Jefferson122/Data-science/blob/New/Revisar/Day_1_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functionals
### The most fundamental functional is purrr::map()53. It takes a vector and a function, calls the function once for each element of the vector, and returns the results in a list. In other words, map(1:3, f) is equivalent to list(f(1), f(2), f(3)).[Functionals example](https://adv-r.hadley.nz/functionals.html)

In [37]:
head(iris[, -5],5)

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1 5.1          3.5         1.4          0.2
2 4.9          3.0         1.4          0.2
3 4.7          3.2         1.3          0.2
4 4.6          3.1         1.5          0.2
5 5.0          3.6         1.4          0.2

In [38]:
#Margin 2 is column and margin 1 row
a1<-apply(X = iris[, -5], MARGIN = 2, FUN = sum) # The total for each column was calculated in the data frame (the function is "sum")
print(a1)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       876.5        458.6        563.7        179.9

In [39]:
print(a2<-array(data=1:24, dim = c(3, 4, 2)))

, , 1

     [,1] [,2] [,3] [,4]
[1,]    1    4    7   10
[2,]    2    5    8   11
[3,]    3    6    9   12

, , 2

     [,1] [,2] [,3] [,4]
[1,]   13   16   19   22
[2,]   14   17   20   23
[3,]   15   18   21   24

In [40]:
apply(a2, MARGIN = 2, FUN = sum) #sum each column in both matrix like union (1+2+3+4+13+14+15=48)
apply(a2[,,1], 2, sum) # sum only each column in component 1 of the array a2

[1]  48  66  84 102

[1]  6 15 24 33

# url Data Frame with R

In [31]:
url1 <- "http://www.biostatisticien.eu/springeR/imcenfant.txt"
data1 <- read.table(url1, header = TRUE) #File txt
url2<- "https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-04-24/gapminder_es.csv"
data2 <- read.csv(url2) #File csv
head(data2)

  pais       continente anio esperanza_de_vida poblacion pib_per_capita
1 Afganistan Asia       1952 28.801             8425333  779.4453
2 Afganistan Asia       1957 30.332             9240934  820.8530
3 Afganistan Asia       1962 31.997            10267083  853.1007
4 Afganistan Asia       1967 34.020            11537966  836.1971
5 Afganistan Asia       1972 36.088            13079460  739.9811
6 Afganistan Asia       1977 38.438            14880372  786.1134

In [32]:
data(package = 'datasets') #datasets for work, iris,Cancer, a lot data sets

In [33]:
dim(InsectSprays)
str(InsectSprays)

[1] 72  2

'data.frame':	72 obs. of  2 variables:
 $ count: num  10 7 20 14 14 12 10 23 17 20 ...
 $ spray: Factor w/ 6 levels "A","B","C","D",..: 1 1 1 1 1 1 1 1 1 1 ...

In [34]:
with(InsectSprays, tapply(count, spray, sum)) #Sum of different class

  A   B   C   D   E   F
174 184  25  59  42 200

In [35]:
#export the data frame df to a CSV file named df.csv in our working directory
#create data vectors
height <- c(167, 192, 173, 174, 172, 167, 171, 185, 163, 170)
weight <- c(86, 74, 83, 50, 78, 66, 66, 51, 50, 55)
smoke <- c("No", "yes", "No", "yes", "No", "No", "yes", "yes", "yes", "No")
gender <- c("M", "M", "F", "M", "M", "M", "F", "M", "F", "F")
# create df
df <- data.frame(height, weight, habit = smoke, gender)
#The code we provided will export the data frame df to a text file called df.txt in our working directory.
write.table(
 x = df,
 file = "df.txt",
 sep = "\t",
 row.names = FALSE,
 col.names = TRUE
)

In [36]:
df_from_txt <- read.table(
 file = "df.txt",
 header = TRUE,
 sep = "\t"
)
# Resultado
head(df_from_txt, 3)

  height weight habit gender
1 167    86     No    M
2 192    74     yes   M
3 173    83     No    F